<launch>

  <node name="cloud_converter" pkg="cloud_converter" type="convert.py" required="true"/>

  <include file="$(find aloam_velodyne)/launch/aloam_velodyne_HDL_64.launch">
	  <arg name="rviz" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'" />
  <node  name="robot_state_publisher"  pkg="robot_state_publisher"  type="robot_state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="world_to_camera_init" args="0 0 0 0 0 0 /world /camera_init 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_to_link" args="0 0 -0.5 0 0 0 /aft_mapped /base_link 10" />

  <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" required = "true">
      <remap from="~goal" to="/goal"/>
      <param name="waypoint_type" value="manual-lonely-waypoint"/>
  </node>

  <node pkg="putn" type="global_planning_node" name="global_planning_node" output="screen" required = "true">
      <remap from="~waypoints"       to="/waypoint_generator/waypoints"/>
      <remap from="~map"             to="/laser_cloud_map"/>

      <rosparam command="load" file="$(find putn)/config/for_real_scenarios/hill.yaml"/>
  </node>

  <node pkg="putn" type="local_obs_node" name="local_obs_node" output="screen" required = "true">
      <remap from="~map"             to="/velodyne_points"/>

      <param name="map/resolution"      value="0.4" />
      <param name="map/local_x_l"       value="-1.8"/>
      <param name="map/local_x_u"       value="1.8"/>
      <param name="map/local_y_l"       value="-1.8"/>
      <param name="map/local_y_u"       value="1.8"/>
      <param name="map/local_z_l"       value="-0.5"/>
      <param name="map/local_z_u"       value="0.4"/>
  </node>

  <node pkg="gpr" type="gpr_path" name="gpr_path" output="screen" required="true">
      <param name="file/cfg_path" type="string" value="$(find gpr)/config/hyperparam.txt"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find putn_launch)/rviz_config/tao.rviz" required="true"/>

</launch>
